*{
    margin: 0;
    padding: 0;
    font-family: ekmukka;
}
.banner img{
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}
.bannerimg-text {
    position: absolute;
    top: 15%;
    left: 10%;
}
.see-detail{
    height: 50px;
    width: 190px;
    position: relative;
}
.see-detail img{
    width: 100%;
    height: 100%;
}
.bannerimg-text h4{
    width: 450px;
    height: 240px;
    font-size: 80px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 120px;
}
.bannerimg-text  p{
    font-size: 16px;line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
    width: 500px;
    margin-bottom: 40px;
}
.icon-img {
    position: absolute;
    top: 25%;
    left: 25%;
}
.icon-img:hover {
    cursor: pointer;
}
.main-home,.main-colection,.featured-product {
    margin: 0 150px;
    margin-right: 150px;
}
.home-option {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.option {
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);
    width: 19%;
    padding: 0 24px;
    padding-bottom: 30px;
}
.option img{
    margin-top: 30px;
    margin-bottom: 20px;
}
.option h3{
   margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.option p{
    line-height: 27px;
}
.main-input {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;
}
.main-input input{
    width: 60%;
    border-radius: 100px;
    border: none;
    padding: 21px 0 21px 30px;
    outline: none;
    box-shadow:  0px 2px 40px rgba(0, 0, 0, 0.1);
}
.img-input {
    position: absolute;
    right: 20%;
    top: 2%;
}
.icon-search {
    position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%,-50%);
}
.main-story {
    display: flex;
    justify-content: space-between;
}
.story-left {
    width: 44%;
}
.story-left p{
    font-size: 16px;
    line-height: 24px;
}
.story-imgleft{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 25px;
}

.story-imgleft img{
    width: 48%;
}
.story-left h2{
    font-size: 40px;
    line-height: 49px;
}
.story-right {
    width: 52%;
}
.story-right img{
    width: 100%;
}
.storymore button {
    margin-top: 40px;
     background: linear-gradient(270deg, #00B8C4 0%, #1DC1CC 100%);
     border-radius: 100px;
     outline: none;
     padding: 13px 0;
     width: 40%;
     border: none;
     color: #FFFFFF;
}
.storymore img{
    margin-left: 10px;
}
.Item-title {
    font-size: 40px;font-weight: 400;
    text-align: center;
    margin-top: 100px;
}
.list-item {
    text-align: center;
    margin-bottom: 12px;
}
.list-item span{
    margin-right: 38px;
    font-size: 16px;
    line-height: 24px;
}
.line-blue {
    display: block;
    background-color: #00B8C438 ;
    height: 2px;
    width: 100%;
}
.list-product-item {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-itemimg {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}
.product-itemimg img{
    width: 100%;
}
.img-cartmove {
    position: absolute;
    right:0;
    transform:translateY(-120%)
    translateX(-15%)
}
.product-item  {
    width: 23%;
    margin-bottom: 30px;
}
.product-item p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}
.sale-price {
    font-size: 20px;font-weight: 500;
    line-height: 24px;
    margin-right: 20px;
}
.old-price {
    font-size: 16px;font-weight: 400;
    text-decoration: 1px solid line-through;
    color: #000 66%;
}
.more-product {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
.banner{
    width: 100%;
}
.banner-main {
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url(/Frame\ 8780.png);
    background-size: contain;
}
.banner-main img[alt = "left"]{
    position: absolute;
    left: 0;
    bottom: 0;
}
.banner-main img[alt = "right"]{
    position: absolute;
    right: 0;
    bottom: 0;
}
.main-colection{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.main-colection h3{
    font-size: 40px;font-weight: 400;
    line-height: 80px;
    margin-bottom: 20px;
}
.colection-listimg {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.colection-listimg img {
    width: 23%;
}
.featured-product {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.product-left-listitem{
    display: flex;
    position: relative;
    width: 60%;
    padding-top: 20px;
}
.product-left-listitem h3{
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 40px;
    font-weight: 40;
    line-height: 80px;
    transform: translate(-50%,-50%);
}
.product-left-listitem h3 img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    
}
.product-rightimg {
    width: 37%;
    position: relative;
}
.product-rightimg img{
    width: 100%;
}
.product-rightimg span{
    position: absolute;
    font-size: 26px;line-height: 36px;
    font-weight: 400;
    top: 20%;
    left: 10%;
    width: 40%;
}
.product-rightimg span img{
    margin-top: 20%;
}
.list-comment {
    margin: 0 150px;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 70px;
    margin-bottom: 100px;
}
.list-comment h3{
    position: absolute;
    font-size: 40px;font-weight: 400;
    line-height: 60px;
    top: 0;
    left: 0;
    transform: translate(0, -50%);
}
.list-commentleft {
    width: 45%;
}
.list-commentright {
    width: 45%;
    position: relative;
}
.comment-more {
    position: absolute;
    top: 0px;
    right: 0px;
}

.comment{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.comment-img-right {
    display: flex;
    margin-top: 8px;
    margin-bottom: 12px;
}
.comment-img-right img{
    margin-right: 5px;
}
.comment-right {
    margin-left: 30px;
}
.main-blog {
    margin: 0 150px;
}
.blog-title {
    text-align: center;
    margin-bottom: 30px;
}
.list-blog {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
    justify-content: space-between;
}
.blog {
    width: 30%;
    position: relative;
}
.blog img{
    width: 100%;
}
.date-blog {
    position: absolute;
    width: 16%;
    color: white;
    top: 0;
    left: 0;
}
.date-blog img{
    width: 100%;
}
.date-blog p{
    position: absolute;
    top: 10%;
    left: 20%;
}
.date-blog span{
    position: absolute;
    top: 40%;
    left: 20%;
}
.blog h5{
    font-size: 18px;font-weight: 400;
    line-height: 27px;
    opacity: 0.47;
    margin-bottom: 10px;
}
.blog p{
    font-size: 18px;font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
}
.blog span{
    font-size: 16px;font-weight: 400;
    line-height: 24px;
}
.feater-in{
    margin: 0 150px;
}
.company{
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.1);
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
} 
.list-company{
    display: flex;
    justify-content: center;

}
@font-face {
    font-family: ekmukka;
    src: url(.././Mukta-Regular.ttf);
}
@media only screen and (max-width: 600px){
    .bannerimg-text{
        display: none;
    }
    .main-home,.main-colection,.featured-product {
        margin: 0 24px;
    }
   .option {
    width: 48%;
    padding: 0;
    margin-right: 0;
    margin-bottom: 16px;
   }
   .home-option {
    margin-bottom: 40px;
   }
   .option h3{
    font-size: 14px;
   }
   .option p{
    font-size: 12px;
   }
   .main-input input{
    width: 100%;
    padding: 10px 0 10px 30px;
   }
   .img-input {
    right: 2%;
   }
   .banner img{
    margin-bottom: 50px;
   }
   .product-item{
    width: 45%;
    margin: 0;
    margin-bottom: 15px;
   }
   .main-input {
        margin-bottom: 40px;
   }
   .img-input{
    width: 35px;
    height: 45px;
    top: 5%;
   }
   .img-input img{
    width: 100%;
   }
   .main-story {
    display: block;
    text-align: center;
    width: 100%;
   }
   .story-left {
    width: 100%;
   }
   .storymore button{
    margin-top: 24px;
    margin-bottom: 24px;
   }
   .story-right {
    width: 100%;
   }
   .banner-main {
    height: 100px;
   }
   .banner-main img{
    width: 36%;
   }
   .banner{
    width: 100%;
   }
   .main-colection h3{
    font-size: 24px;
    font-weight: 400;line-height: 29px;
    margin-top: 40px;
   }
   .colection-listimg {
    display: block;
   }
   .colection-listimg img {
    width: 100%;
    margin-bottom: 16px;
   }
    .featured-product{
        display: block;
    }
    .product-left-listitem{
        width: 100%;
        
    }
    .product-left-listitem h3{
        font-size: 24px;
        line-height: 29px;
        width: 100%;
        margin-top: 15px;
        text-align: center;
        margin-bottom: 50px;
    }
    .list-product-item{
        margin-top: 60px;
    }
    .product-left-listitem h3 img{
        bottom: -20px;
    }
    .product-rightimg{
        width: 100%;
        margin-top: 30px;
    }
    .list-comment{
        display: block;
    }
    .list-comment h3{
        font-size: 24px;font-weight: 400;
        line-height: 29px;
        width: 100%;
        position: unset;
        transform: translate(0,0);

    }
    .comment-more{
        width: 100%;
        position: unset;
        text-align: center;
    }
    .list-comment{
        padding: 30px;
    }
    .list-comment {
        margin: 24px;
        margin-bottom: 40px;
        padding: 0;
    }
    .list-commentleft{
        width: 100%;
    }
    .comment {
        width: 100%;
        justify-content: space-between;
    }
    .comment-left {
        width: 47%;
    }
    .comment-left img{
        width: 100%;
    }
    .comment-right{
        width: 50%;
        margin-left: 0;
    }
    .comment-right p{
        font-size: 14px;
        line-height: 21px;
    }
    .comment-img-right{
        margin: 6px 0 6px 0;
    }
    .list-commentright{
        width: 100%;
    }
    .list-commentright .comment{
        display: flex;
        flex-direction: row-reverse;
    }
    .main-blog{
       
        display: block;
        margin: 0 24px;
      
    }
    .list-blog{
        display: block;
        width: 100%;
    }
    .blog{
        width: 100%;
        margin-bottom: 30px;
    }
    .blog img{
        width: 100%;
    }
    .feater-in{
        margin: 0 24px;
    }
    .list-company{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .company{
        width: 30%;
        margin: 0;
        margin-bottom: 20px;
    }

}   